@charset "UTF-8";

#mbtipage {
	min-width: 1200px;
	max-width: 1200px;
	margin: auto;
	padding: 10px;
	height: 100vh;
}

div.mbtiimg {
	background-image: url('mbtitest.png');
	background-repeat: no-repeat;
	width: 1120px;
	height: 1200px;
	margin-top: 0px;
	
}
div.mbtiiimg{
	background-image: url('back.png');
	background-repeat: no-repeat;
	width: 1120px;
	height: 100vh;
	margin-top: 0px;
	margin-left: 50px;
}

article.test {
	padding-top: 500px;
	font-family: 'Noto Serif KR';
	color: #18A8F1;
	font-weight: bold;
}

div.choose{
	width: 600px;
	padding-left: 400px;
	font-family: 'Noto Serif KR';
}

div.progress {
	margin-left: 250px;
	width: 60%;
	height: 20px;
}

#title{
	padding-left: 20px;
	font-size: 2.5em;
}

#img{
	width: 500px;
	height: 400px;
	margin-left: 280px;
}

#camera{
	font-family: 'Noto Serif KR';
	color: #18A8F1;
	font-size: 4em;
	font-weight: bold;
	width: 600px;
    margin-left: 220px;
}

#explain{
	color: #4B89DC;
	font-family: 'Noto Sans KR';
	border: 9px solid white;
	border-radius: 20px;
	font-weight: bold;
	width: 600px;
    margin-left: 230px;
    line-height: 2;
    padding: 20px;
}

div.share{
	width: 500px;
	height: 100px;
	margin-top: 30px;
    margin-left: 320px;
}

#title2{
	font-family: 'Noto Serif KR';
    color: #18A8F1;
    margin-left: 350px;
    margin-bottom: 20px;
    padding-top: 50px;
    font-size: 3em;
    font-weight: bold;
}

div.progress-bar{
	background-color: #4B89DC;
}