@charset "UTF-8";

div.container {
	display: inline-block;
	width: 100%;
}

div.img-list {
	width: 24%;
	display: contents;
}

img.gallery-img {
	display: inline-flex;
	max-width: 22.5%;
	margin: 0.8% 0.91%;
}

ul li {
	list-style: none;
}

ul.pagination {
	display: inline-flex;
}

nav.pagebar {
	display: flex;
	justify-content: center;
}

.pagination {
	display: flex;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
	justify-content: center;
}

.pagination>div>a {
	margin: 10px;
}