@charset "UTF-8";

.photos {
	width: 100%;
	display: inline-block;
}

a.img-link {
	width: inheit;
	margin: 5px;
}

.theme {
	display: flex-inline;
}

.img-list {
	/* 	position: relative; */
	
}

.image {
	display: block;
}

.overlay {
	position: absolute;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	bottom: 0;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.img-list:hover .overlay {
	opacity: 1;
}

div.container {
	width: 100%;
}

div.img-list {
	/* 	display: inline-flex; */
	/* 	flex-direction: column; */
	
}

img.gallery-img {
	height: 300px;
}

ul li {
	/* 	list-style: none; */
}

div#photolist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}