@charset "UTF-8";

div.listform{
    	text-align: center; 
}

#writebtn{
	margin-left: 800px;
    width: 100px;
    background-color: #4B89DC;
    border-color: #4B89DC;
}

#writeform{
     margin-bottom: 100px; 
}

#oneb{ 
    font-family: Noto Sans KR; 
    font-size: 20pt; 
    color: #4B89DC; 
} 

#bdTitle{
	 margin-bottom: 20px;
	 height: 50px;
	font-size: 20px;
}

#oneimg{
	margin-bottom: 20px;
    width: 900px;
    height: 150px;
}
#bdContent{
	height: 500px;
	font-size: 20px;
}
div.btn{
	margin-left: 580px;
	
}
#conimg{
	margin-bottom: 40px;
	width: 800px;
    height: 150px;
}

div.row{
	width: 800px;
	height: 400px;
}
div.container{
	margin-left: 500px;
	margin-bottom: 400px;
}
#updateform{
    width: 800px;
    margin-left: 500px;
    margin-bottom: 400px;
}

div.form-inline{ 
    display: flex; 
    justify-content: flex-end; 
} 
button.btn.btn-secondary { 
    margin-left: 20px; 
    font-size: 20px; 
} 
 
div#onediv{ 
	margin-bottom: 20px; 
}