.modelRelease_bottom_btns {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  overflow: hidden;
  ._waring{
    color: #EB0000;
    &:hover{
      color: #ED2626;
    }
  }
  button{
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: auto;
    white-space: nowrap;
    padding: 0 20px;
  }
  @media screen and (max-width: 767px) {
    display: block;
    position: relative;
    height: 100px;
    ._waring{
      position: absolute;
      bottom: 0;
    }
    button{
      width: 100%;
    }
  }
}
