@charset "UTF-8";


.container.PhotoNavWrap {
	width : 100%;
	text-align: center;
	padding: 3%;
    height: 100%;
}
.container * {
	text-align: center;
}

img.imgview {
	
}
img.horzonimg{
	width: 100%;
	height: auto;
	
}
img.verticalimg{
	width: auto;
	height: 100%;	
}
