@charset "UTF-8";


input.lgm{
	margin-top:30px;
}

b.loginjsp{
	cursor: pointer;
}

div.lgmdiv {
	margin-top:30px;
    text-align:center;
}
div.lgmdiv>input:not(.lgmid), div.lgmdiv>button.btn-primary,div.lgmdiv>select{
    width: 380px;
    margin: auto;
    margin-top: 30px;
    height: 50px;
    display:block;
}

button.dfkid{
	width: 100px;
	
}
input.lgmid {
    width: 280px;
    height: 50px;
}

button.dfkid {
    width: 100px;
    height: 50px;
}