@charset "UTF-8";

div.page {
/*    border: 1px solid black; */
     min-width: 1000px;
   max-width: 1000px;
   margin: auto;
   padding: 10px;
   height: 100vh;
}

div#title>a {
   color: black;
}


div.logodiv {
    text-align: center;
}


div#loginpage input {
   height: 30px;
}

div#loginpage {
    margin-right: 3px;
      color: #5D5D5D;
   display: flex;
   justify-content: flex-end;
   font-family: Noto Sans KR;
}

div.logo {
   display: inline-flex;
   font-size: 75px;
/*    margin-left: 200px; */
font-family: Noto Sans KR;

}

div.logo>img {
   width: 130px;
}

div#search {
    display: flex;
    justify-content: flex-end;
    margin-right: 17px;
}

div#nav {
   margin-top: 10px;
   padding:0px;
}

div#nav>nav {
   background-color: #4B89DC;
   text-align: center;
   height: 60px;
}
nav.navbar *{
	font-family: Noto Sans KR;
}
div#search input {
   width: 200px;
}

div#search button {
   width: 80px;
}

div.container-fluid {
   display: block;
}

div.container-fluid ul.navcategory>li {
   list-style: none;
   font-size: 40px;
   padding-right: 50px;
   padding-left: 50px;
   flex: 1;
   z-index: 10;
}

div.container-fluid ul.navcategory>li>a {
   color: white;
}

ul.navcategory {
   display: flex;
}

ul.navcategory ul {
   list-style: none;
   padding: 0;
   margin: auto;
   font-size: 30px;
      background-color: white;
   display: none;
}

ul.navcategory li:hover ul {
   display: block;
}

ul.navcategory ul>li>a {
      color: #4B89DC;
   font-size: 25px;
}

ul.Gallery {
   max-width: 100px;
}

div.maininfo,div.mainjayu{
/*    border:2px solid black; */
}

div.mainglmbti {
   padding:15px;
   margin-top:10px;
    display: flex;
    height: auto;
}
div.maingl{
   width:80%;
}
div.mainmbti{
   overflow:hidden;
   width:20%;
}

div.mainmbti>a>img{
   max-width: 100%;
    height: auto;
}
div.mainboard {
   padding:15px;
    display: flex;
    height: auto;
    font-size:25px;
}
div.maininfo{
   width:45%;
}

div.mainjayu{
   width:45%;
   margin-left:100px;
}

div.test1{
   width: 32%;
   display: inline-flex;
}

div.test0 {
    width: 34%;
    display: inline-flex;
}
div.test0 img{
   max-width: 100%;
   height: auto;
}
div.test1 img{
   max-width: 100%;
   height: auto;
}

#footer{
   border-top:1px solid black;
   display: flex;
}
.footer_cc {
    width: 50%;
}


.footerlist>li {
    list-style: none;
    float: left;
    margin-right: 30px;
}

ul.footerlist {
    padding-left: 0px;
}
a:hover{
	cursor:pointer;
	color: black;
    text-decoration: none;
}
a{
	color:black;
}
div.body{
	min-height: 1000px;
}