@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

#qnapage {
/*    border: 1px solid black; */
   min-width: 1200px;
   max-width: 1800px;
   margin: auto;
   padding: 10px;
   height: 100vh;
}

div.form{
	margin-top: 50px;
    margin-left: 650px;
    font-family: 'Noto Sans KR';
    
}

#title{
	font-size: 3em;
	font-family: 'Noto Sans KR';
	color : #4B89DC;
	margin-left: 80px;
}

#searchText{
	width: 400px;
	height: 50px;
	
	border : #4B89DC solid 5px;
	border-radius: 40px;
}

div.qnaa{
	font-family: 'Noto Sans KR';
	font-size: 1.5em;
	margin-left: -60px;
	height: 1300px;
}

a.qnatag:hover{
	text-decoration: none;
}
p.subject{
	font-weight: bold;	
}

ul.qna{
	width: 800px;
	list-style: none;
	margin-top: 30px;
}

#qnacont{
	border : #4B89DC solid 3px;
	border-radius: 20px;
	display: block;
	line-height: 45px;
    width: 600px;
    font-weight: bold;
    background-color: #DCEBFF;
}

b.asearch{
	font-family: 'Noto Sans KR';
	font-weight: bold;
}

.dsearch{
	margin-left: 650px;
	font-size: 1.5em;
	border : #4B89DC solid 3px;
	border-radius: 20px;
	display: block;
	line-height: 45px;
    width: 600px;
    background-color: #DCEBFF;
}

div.btn{
	margin-left: 650px;
}
#btnSearch{
	border: none;
	background-color : white;
}
span.search{
	font-size: 2em;
    color: #2E64FE;
    
}

div.btn{
	margin-top: 30px;
	margin-bottom: 200px;
	
}

button.btn-info{
	background-color: #2E64FE;
    border-color: #2E64FE;
	width: 150px;
    height: 40px;
	
}
