@charset "utf-8";
#qnapage {
/*    border: 1px solid black; */
   min-width: 1200px;
   max-width: 1800px;
   margin: auto;
   padding: 10px;
   height: 100vh;
}

div.form{
	margin-top: 100px;
    margin-left: 370px;
    
}

#title{
	font-size: 3em;
	color : #2b42e0;
	 margin-left: 60px;
}

#searchText{
	width: 400px;
	height: 50px;
	border : #4B89DC solid 5px;
	border-radius: 20px;
}

ul.qna{

	 font-size: 1.5em;
}

a.qnatag{
	text-decoration: none;
}

#qna{
	width: 600px;
}

