@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

#qnapage {
/*    border: 1px solid black; */
   min-width: 1200px;
   max-width: 1800px;
   margin: auto;
   padding: 10px;
   height: 100vh;
}

div.form{
	margin-top: 100px;
    margin-left: 330px;
    font-family: 'Noto Sans KR';
}

#title{
	font-size: 2.5em;
	font-family: 'Noto Sans KR';
	color : #4B89DC;
	margin-left: 80px;
}

#searchText{
	width: 400px;
	height: 50px;
	
	border : #4B89DC solid 5px;
	border-radius: 40px;
}

div.qnaa{
	font-family: 'Noto Sans KR';
	font-size: 1.5em;
	margin-left: -60px;
}

a.qnatag{
	text-decoration: none;
	
}

ul.qna{
	width: 800px;
}

#qnacont{
	border : #4B89DC solid 3px;
	border-radius: 20px;
	display: block;
	line-height: 70px;
	width: 600px;
}



